<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Ka17</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/img/favicon.ico" rel="icon">
    <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i"
      rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <!-- Template Main CSS File -->
    <link href="/css/style.css" rel="stylesheet">

    <!-- =======================================================
  * Template Name: WeBuild - v4.6.1
  * Template URL: https://bootstrapmade.com/free-bootstrap-coming-soon-template-countdwon/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  </head>

  <body>

    <!-- ======= Header ======= -->
    <header id="header">
      <div class="container-fluid d-flex justify-content-between
        align-items-center">

        <div class="logo">

          <a href="index.html"><img src="/img/KM-removebg-preview.png" alt=""
              class="img-fluid"></a>
        </div>

        <div class="contact-link float-right">
          <a href="#contact" class="scrollto">Parabenize-a</a>
        </div>

      </div>
    </header><!-- End #header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero">
      <div class="hero-container">
        <h1>Karinna 17</h1>
        <h2>Minha irmãzinha não é bolsominion, apenas irá fazer 17 aninhos de
          idade!</h2>
        <div class="countdown" data-count="2022/06/25" data-template="%d days
          %h:%m:%s"></div>


      </div>
    </section><!-- End Hero -->

    <main id="main">

      <!-- ======= Contact Us Section ======= -->
      <section id="contact" class="contact">
        <div class="container">

          <div class="section-title">
            <h2>Parabenize-a</h2>
          </div>

          <div class="row contact-info">

            <div class="col-md-4">
              <div class="contact-address">
                <a href="https://instagram.com/kamattosog_?igshid=YmMyMTA2M2Y="target="_blank"
                  rel="noopener noreferrer"> <i class="bi bi-instagram"> </i></a>
                <h3>Instagram</h3>

              </div>
            </div>

            <div class="col-md-4">
              <div class="contact-phone">
                <p> Mandem mensagens de parabéns no Instagram e Whatsapp dela
                </p>
              </div>
            </div>

            <div class="col-md-4">
              <div class="contact-email">
                <a href="https://wa.me/qr/V2MJED476RC6I1" target="_blank"
                  rel="noopener noreferrer"> <i class="bi bi-whatsapp"> </i></a>
                <h3>Whatsapp</h3>

              </div>
            </div>

          </div>


        </div>
      </section><!-- End Contact Us Section -->

    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>Guilherme Mattoso</span></strong>. All
          Rights
          Reserved
        </div>
        <div class="credits">
          Designed by <a href="https://github.com/mattosoguilherme">Guilherme
            Mattoso</a>
        </div>
      </div>
    </footer><!-- End #footer -->

    <!-- Vendor JS Files -->
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="/js/main.js"></script>

  </body>

</html>